# IMPORTING LIBRARIES AND DATAFRAMES

In [31]:
#IMPORTING LIBRARIES

import pandas as pd
import numpy as np
import os

In [32]:
#ESTABLISHING PATH
path = r'/Users/MadrigalPaez/Documents/2 - FORMACIÓN Y TRABAJO/CAREER FOUNDRY/DATA ANALYTICS/2 - Data Immersion/Achievement 4 - Python Fundamentals for Data Analysts/08-2025 Instacart Grocery Basket Analysis'

In [33]:
path

'/Users/MadrigalPaez/Documents/2 - FORMACIÓN Y TRABAJO/CAREER FOUNDRY/DATA ANALYTICS/2 - Data Immersion/Achievement 4 - Python Fundamentals for Data Analysts/08-2025 Instacart Grocery Basket Analysis'

In [34]:
#IMPORTING DATAFRAMES
orders_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)
orders_clean = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_cleaned.csv'), index_col = False)

In [35]:
orders_prior.head(5)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [36]:
orders_clean.head(5)

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,0,0,2539329,1,prior,1,2,8,NaN,1
1,1,1,2398795,1,prior,2,3,7,15.0,0
2,2,2,473747,1,prior,3,3,12,21.0,0
3,3,3,2254736,1,prior,4,4,7,29.0,0
4,4,4,431534,1,prior,5,4,15,28.0,0

In [37]:
orders_prior.shape

(32434489, 4)

In [38]:
orders_clean.shape

(3421083, 10)

# CREATING A NEW DATAFRAME FOR MERGING "orders_prior" and "orders_cleaned"

In [39]:
orders_merged_large = orders_clean.merge(orders_prior, on = 'order_id', indicator = True)

In [40]:
orders_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,1,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,1,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,1,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,1,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,1,26405,5,0,both

In [41]:
orders_merged_large.shape

(32434489, 14)

# CHECKING FULL MERGE FULL MATCH

In [42]:
orders_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

# EXPORTING DATA

In [43]:
#EXPORTING PKL
orders_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_clean_and_prior_combined.pkl'))

In [44]:
#EXPORTING CSV
orders_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_clean_and_prior_combined.csv'))