# IMPORTING LIBRARIES AND DATAFRAMES

In [27]:
#IMPORTING LIBRARIES

import pandas as pd
import numpy as np
import os

In [28]:
#IMPORTING "orders_merged_large" PKL DATAFRAME
path = r'/Users/MadrigalPaez/Documents/2 - FORMACIÃ“N Y TRABAJO/CAREER FOUNDRY/DATA ANALYTICS/2 - Data Immersion/Achievement 4 - Python Fundamentals for Data Analysts/08-2025 Instacart Grocery Basket Analysis'
orders_clean_and_prior_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_clean_and_prior_combined.pkl'))

In [29]:
#IMPORTING "products_wrangled" DATAFRAME
products = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_wrangled.csv'))

# CHECK THE SHAPE OF THE IMPORTED DATAFRAMES:

In [30]:
orders_clean_and_prior_combined.shape

(32434489, 14)

In [31]:
products.shape

(49688, 6)

In [32]:
orders_clean_and_prior_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,1,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,1,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,1,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,1,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,1,26405,5,0,both

In [33]:
products.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

# DETERMINE A SUITABLE WAY TO COMBINE BOTH DATAFRAMES:

## DATA WRANGLING:

In [34]:
orders_clean_and_prior_combined.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'order_id', 'user_id', 'eval_set',
       'order_number', 'order_day_of_week', 'order_hour_of_day',
       'days_since_prior_order', 'first_order', 'product_id',
       'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [35]:
products.columns

Index(['Unnamed: 0', 'product_id', 'product_name', 'aisle_id', 'department_id',
       'prices'],
      dtype='object')

'Unnamed: 0.1', 'Unnamed: 0', and '_merge' can be deleted from the "orders_clean_and_prior_combined" dataframe

## DELETING UNNECESARY COLUMNS

In [36]:
# DELETING 'Unnamed: 0.1', 'Unnamed: 0', and '_merge' COLUMNS FROM "orders_clean_and_prior_combined"
orders_clean_and_prior_combined = orders_clean_and_prior_combined.drop(['Unnamed: 0.1', 'Unnamed: 0', '_merge'], axis=1)

In [37]:
# DELETING 'Unnamed: 0' COLUMN FROM "products"
products = products.drop(['Unnamed: 0'], axis=1)

In [38]:
orders_clean_and_prior_combined.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'first_order',
       'product_id', 'add_to_cart_order', 'reordered'],
      dtype='object')

In [39]:
orders_clean_and_prior_combined.shape

(32434489, 11)

In [40]:
products.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [41]:
products.shape

(49688, 5)

## MERGING "orders_clean_and_prior_combined" and "products" DATAFRAMES:

In [42]:
orders_and_products_combined = products.merge(orders_clean_and_prior_combined, on = 'product_id', indicator = True)

# CONFIRM THE RESULTS OF THE MERGE USING THE MERGE FLAG:

In [43]:
orders_and_products_combined['_merge'].value_counts()

_merge
both          32433030
left_only            0
right_only           0
Name: count, dtype: int64

In [44]:
orders_and_products_combined.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'eval_set', 'order_number', 'order_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'first_order',
       'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [45]:
orders_and_products_combined.shape

(32433030, 16)

In [46]:
orders_and_products_combined.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,1,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,0,11,1,both

In [47]:
#UNMATCHED DATA
orders_and_products_combined_unmatched = orders_and_products_combined[orders_and_products_combined["_merge"] != "both"]

In [48]:
orders_and_products_combined_unmatched.shape

(0, 16)

# EXPORTING "orders_and_products_combined" AS PKL:

In [49]:
orders_and_products_combined.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_and_products_combined.pkl'))